Repository aquarist-labs/s3gw, pull requests merged in 2023-11, with the labels that each got.

#792 docs/roadmap: update roadmap to reflect 2023/2024
  docs/roadmap.md
Labels: area/docs

#793 readthedocs: specify build.os
  .readthedocs.yaml
Labels: area/docs

#755 docs/decisions: Add severity labels ADR
  docs/decisions/0019-severity-labels.md
Labels: area/docs

#797 Add Shellcheck Pre Commit Hook
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .pre-commit-config.yaml
  tools/minikube/instant-demo.sh
  tools/tests/on-disk-format-checker.sh
Labels: area/CI

#758 Dockerfile: use wrapper script instead of radosgw directly
  Dockerfile
  docs/advanced-usage.md
  docs/config-s3gw.md
  mkdocs.yml
  tools/entrypoint.sh
Labels: kind/enhancement, priority/1, area/containers, area/docs

#804 Dockerfile: allow specifying s3gw directory
  Dockerfile
Labels: kind/bug, area/CI

#813 Fix release workflow
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
Labels: kind/bug, area/CI

#815 .github/workflows: don't lint releases (backport)
  .github/workflows/lint.yaml
Labels: kind/bug, area/CI

#847 docs: update release notes for v0.23.0, reflect breaking changes
  docs/release-notes/s3gw-v0.23.0.md
  mkdocs.yml
Labels: kind/bug, area/docs
